body{
    margin: 0;
    background-color: lightblue;
}

h1{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.bar-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-wrapp {
    background-color:lightyellow ;
    width: 250px;
    height: 80px;
}

.bar {
    display: flex;
    align-items: center;
    background-color: yellow;
    width: 50px;
    height: 100%;
    transition: all 2s ease-out;
}

.barnumber{
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.text{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    padding: 50px 0 ;
    transition: all 3s;

}